version: "3.9"

services:
  app:
    build: .
    container_name: node_app
    ports:
      - "3000:3000"
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_USER: postgres
      DB_PASSWORD: "Bhagya@123"
      DB_NAME: "coupon_generat"
      DB_PORT: 5432

  db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: "Bhagya@123"
      POSTGRES_DB: "coupon_generat"
    ports:
      - "5432:5432"
